.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 65px;
    padding-left: 15px;
}
.logo {
    height: 65px;
    width: 60%;
    background-color: none;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 15%;
    padding-right: 15px;
}
.avatar {
    height: 60px;
    width: 60px;
}