.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #e9f2f2;
}
.main-container {
    display: flex;
    width: 100%;
    margin: 0;
}